table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

caption {
    background-color: #3b0058;
    color: white;
    font-size: 1.5em;
    padding: 8px;
}

th:hover , td:hover {
    background-color: aqua;

}

thead th {
    background-color: #8fd3f4;
    color: #002244;
    padding: 10px;
    border: 2px solid white;
    border-radius: 6px;
}

tbody th {
    background-color: #001f4d;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

th,
td {
    text-align: center;
    width: 10px;
    margin: 2px;
    padding: 2px;
    border: 5px outset;
    background-color: white;
    color: black;
}

td a {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
}

span {
    visibility: hidden;
    display: block;
}

td:hover > span {
    visibility: visible;
}

td:hover {
    filter: brightness(1.1);
}

.recreo td {
    background-color: #f5f59c;
    font-weight: bold;
}

.recreo:hover td {
    background-color: #e2e27c;
}

.web { background-color: #4aa3ff; }
.seguridad { background-color: #ff9f9f; }
.sor { background-color: #d6b3ff; }
.sred { background-color: #fff2a8; }
.empresa { background-color: #ffb347; }
.ingles { background-color: #b8f5d0; }
.sost { background-color: #7ed957; }
.digi { background-color: #ff9de6; }
.python {background-color: #8fd3f4;}


thead > tr:first-child > th:first-child {
    background-color: white;
    border: none;
}
